@media screen and (max-width: 1024px) {
  p {
    font-size: 12px !important;
  }
  h1 {
    font-size: 20px !important;
  }
  h4 {
    font-size: 16px !important;
  }
  h5 {
    font-size: 14px !important;
  }
  li {
    font-size: 12px !important;
  }
  .button-primary {
    font-size: 14px;
  }
  .intro {
    background-position-x: right;
    background-position-y: center;
  }
  .nav-item a {
    font-size: 14px;
  }
  .bio {
    align-items: center;
  }
  .bio p {
    text-align: center;
  }
  .modal-body img {
    width: 30%;
  }
  .wrap-nav li {
    padding: 1em;
  }
  .wrap-nav {
    padding: 0;
  }
  .social {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .img-overlay {
    opacity: 0.7;
  }
  .about-me .img {
    width: 80%;
    margin: 0 auto;
  }
  .item {
    display: flex;
    margin: 0.5em auto;
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .item .content-overlay {
    width: 300px;
    margin: 0 auto;
  }
  .item .content-img {
    width: 100%;
  }
  .knowledge {
    flex-direction: column;
    width: 100%;
  }
  .speacilize {
    text-align: center;
  }
  .lang {
    flex-direction: column;
  }
  .software img {
    margin: 0.2em;
    padding: 1em;
  }

  .design,
  .development {
    min-height: 300px;
    width: 40%;
    margin-bottom: 1em;
  }
}
