@media screen and (max-width: 1024px) {
  .intro {
    background-position-x: right;
    background-position-y: center;
  }
  .bio {
    align-items: center;
  }
  .bio p {
    width: 90%;
    text-align: center;
  }
  .wrap-nav {
    padding: 0;
  }
  .social {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .img-overlay {
    opacity: 0.7;
  }
  .about-me .img {
    width: 80%;
    margin: 0 auto;
  }
  .item {
    display: flex;
    margin: 0.5em auto;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .item .content-overlay {
    width: 300px;
    margin: 0 auto;
  }
  .item .content-img {
    width: 100%;
  }
  .knowledge {
    flex-direction: column;
    width: 100%;
  }
  .speacilize {
    text-align: center;
  }
  .lang {
    flex-direction: column;
  }
}
